/*  your css code here. If applicable */

body{
	display: center;
}

table{
	width: 100%;
}

#table-1, #t11, #t12, #t13{
	border: 1px solid black;
	cell-padding: 1px;
}

#t11{
	text-align: left;
}
#t12{
	text-align: center;
}
#t13{
	text-align: right;
}

#table-2, #t11, #t12, #t13{
	border: 1px solid black;
	cell-padding: 1px;
}
